<div id="userMap">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg modalButton1" data-toggle="modal" data-target="#myModal1">Get Started</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- 
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Get Started</h4>
          </div>
          -->
          <div class="modal-body">
          <p>In order to install TLZ, you will need to meet before the following requirements:</p>

    <ul>
        <li><a href="environment-setup.html">0 Environment setup</a></li>
    </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
            <span class="complexArrow">→</span>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-lg modalButton2" data-toggle="modal" data-target="#myModal2">Boot strap</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- 
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Bootstrap</h4>
                  </div>
                  -->
                  <div class="modal-body">
                    <p>In order to install TLZ, you will need to follow these topics:</p>
                    <ul>
                        <li><a href="environment-setup.html">0 Environment setup</a></li>
                        <li><a href="bootstrap-master-payer.html">1 Bootstrap Master Payer account</a></li>
                        <li><a href="bootstrap-shared-services.html">2 Bootstrap Shared Services account</a></li>
                        <li><a href="install-ghe-in-shared-services.html">3 Bootstrap GHE in Shared Services account</a></li>
                        <li><a href="install-tfe-in-shared-services.html">4 Bootstrap TFE in Shared Services account</a></li>
                        <li><a href="install-arf.html">5 Bootstrap Account-Request Form (ARF)</a></li>
                        <li><a href="install-avm.html">6 Bootstrap Account Vending Machine (AVM)</a></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <span class="complexArrow">→</span>


          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default btn-lg modalButton3" data-toggle="modal" data-target="#myModal3">Baseline</button>
          <!-- Modal -->
          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- 
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Baseline</h4>
                </div>
                -->
                <div class="modal-body">
                  <p>Before the baseline, make sure you have bootstraped the TLZ.</p>

                  <p>In order to configure TLZ, you will need to follow these topics:</p>
                  <ul>
                      <li><a href="baseline-logging-security-accounts.html">7 Baseline Logging & Security accounts</a></li>
                      <li><a href="baseline-master-payer.html">8 Baseline Master Payer account</a></li>
                      <li><a href="baseline-shared-services.html">9 Baseline Shared Services account</a></li>
                      <li><a href="vend-core-network.html">10 Baseline Core Network account</a></li>
                      <li><a href="baseline-federation.html">11 Baseline Federation account</a></li>
                      <li><a href="bootstrap-and-baseline-billing.html">12 Configure Billing</a></li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <span class="complexArrow">→</span>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-lg modalButton4" data-toggle="modal" data-target="#myModal4">Azure AD Federation</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- 
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vend Apps Accounts</h4>
                  </div>
                  -->
                  <div class="modal-body">
                    <p>Each time a new account is created it is necessary to federate the account.</p>
                        <ul>
                            <li><a href="aws-az-federation.html">13 Azure AD Federation</a></li>                         
                        </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <span class="complexArrow">→</span>



            <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg modalButton5" data-toggle="modal" data-target="#myModal5">Vend Apps Accounts</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- 
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vend Apps Accounts</h4>
                  </div>
                  -->
                  <div class="modal-body">
                    <p>Before the vending, make sure you have bootstraped and baselined the TLZ.</p>

                    <p>In order to vend TLZ accounts, you will need to follow these topics:</p>
  
                        <ul>
                            <li><a href="vend-sandbox-account.html">Vend Sandbox</a></li>
                            <li><a href="vend-application-account.html">Vend Application</a></li>                            
                        </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          
<div class="clearfix"></div>

</div>
